<div id="comment-form" class="comments-widget__form">
  <h2>Submit Comment</h2>
  <form method="post" id="blogCommentForm">
    {{#if comments.error}}
    <div class="alert alert-danger">
      {{comments.error}}
    </div>
    {{/if}}    
    <div class="comments-widget__form-row">
      <div class="form-group">
        <input type="text" class="form-control" id="inputAuthor"
          placeholder="Name*" name="author" value="{{comments.values.author}}" aria-label="Name (required)">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail"
        placeholder="Email*" name="email" value="{{comments.values.email}}" aria-label="Email (required)">
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="textareaContent" name="content" placeholder="Your Comment"
      rows="6">{{comments.values.content}}</textarea>
    </div>
    <div class="form-group my-3">
      <div class="g-recaptcha" data-sitekey="{{recaptchaClientKey}}"></div>
    </div>
    <input id="recipient-hidden-input" type="hidden" name='recipient_comment_id'>
    <div class="text-right">
      <button type="submit" class="btn submit-comment">Submit Comment</button>
      <button style="display: none;" type="button" class="btn cancel-comment ml-2" onclick="onClickReply()">Cancel</button>
    </div>
  </form>
</div>

<script type="text/javascript">
    window.COMMENTS_RECIPIENT_COMMENT_ID = '{{{comments.values.recipient_comment_id}}}';
    window.COMMENTS_ERROR = '{{{comments.error}}}';
</script>
<script src="/static/base/js/comments.js"></script>
