<form action="/contact" method="POST" class="contact-form" id="blogContactForm">
  <div>
    <p>Questions or comments? Get in touch with us to learn more!</p>

    <p>As the World’s Number 1 experts in everything Elastic and BigData experts in general, we’d love to discuss your project, challenges, or just about anything else.</p>
  </div>
  {{#if error}}
  <div class="alert alert-danger my-4">
    {{error}}
  </div>
  {{/if}}
  {{#if success}}
  <div class="alert alert-success my-4">
    Your message was sent, thank you for your interest!
  </div>
  {{/if}}
  <div class="form-row">
    <div class="form-group {{validity.name}} col-md-6">
      <label for="inputName">Name</label>
      <input type="text" name='name' value="{{values.name}}" class="form-control" id="inputName">
    </div>
    <div class="form-group {{validity.email}} col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" name='email' value="{{values.email}}" class="form-control" id="inputEmail">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group {{validity.subject}} col-md-12">
      <label for="inputSubject">Subject</label>
      <input type="subject" name='subject' value="{{values.subject}}" class="form-control" id="inputSubject">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group {{validity.content}} col-md-12">
      <label for="inputContent">Message</label>
      <textarea name='content' class="form-control" id="inputContent" rows="6">{{values.content}}</textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="g-recaptcha" data-sitekey="{{recaptchaClientKey}}"></div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="submit-button" type="submit" value="Submit">
    </div>
  </div>
</form>
