<article class="fresh-post container card">
  <div class="fresh-post__img col-md-6 px-0">
    <a href="{{this.url}}"><img src="{{#if this.metadata.header_image_url}}{{{this.metadata.header_image_url}}}{{else}}/static/base/img/post1.jpg{{/if}}" alt=""></a>
  </div>
  <div class="col-md-6 px-5 py-3">
      <div class="text-muted mb-2 d-flex justify-content-between">
        <time class="post-date" datetime="{{this.published_at}}">
          {{this.published_at_str}}
        </time>
        {{#if this.reading_time}}
          <span class="reading-time">{{this.reading_time}}</span>
        {{/if}}
      </div>
      <a href="{{this.url}}" class="text-reset">
        <h4>{{this.title}}</h4>
      </a>
      <div class="fresh-post__badges post-badges mb-2">
        {{!-- {{#if series}}
        <a href="{{series_url}}">
          <div class="series-badge badge my-4">Series: {{series}}</div>
        </a>
        {{/if}}  --}}
        {{#each tags}}
          <a href="{{this.url}}">
            <div class="tags-badge badge">{{this.key}}</div>
          </a>
        {{/each}}
      </div>
      <div>{{{this.excerpt}}}</div>
  </div>
</article>
