<div class="col-md-4 pb-5 d-flex">
  <div class="post-box card">
    <a href="{{this.url}}"><img  class="post_thumbnail"  src="{{this.metadata.header_image_url}}" alt=""></a>
    <div class="post-box__content p-3">
        <div class="post-box__content-header">
          <div class="duration-and-location text-muted mb-2">
            <span class="duration" datetime="{{this.published_at}}"> {{this.published_at_str}}</span>
            {{#if this.reading_time}}
                <span class="read">{{this.reading_time}}</span>
            {{/if}}
          </div>
          <a href="{{this.url}}" class="text-reset">
            <div class="h4">{{this.title}}</div>
          </a>
        </div>
        <div class="post-box__content-footer">
            {{# if this.series}}
            <a href="{{this.series_url}}">
              <div class="series-badge badge">Series: {{this.series}}</div>
            </a>
            {{/if}}
            {{#each tags}}
              <a href="{{this.url}}">
                <div class="tags-badge badge">{{this.key}}</div>
              </a>
            {{/each}}
        </div>
    </div>
  </div>
</div>
