<div class="col-md-{{#if col}}{{col}}{{else}}4{{/if}} pb-5 d-flex">
  <div class="post-box card">
    <div class="post-box-social d-none d-md-block">
      <!-- Generated using https://github.com/mxstbr/sharing -->
      <!-- Sharingbutton Facebook -->
      <a href="https://facebook.com/sharer/sharer.php?u={{encodeURI this.full_url}}" target="_blank" rel="noopener" aria-label="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M16,0A16,16,0,1,0,32,16,16,16,0,0,0,16,0Zm4.736,9.413H18.5c-.789,0-.954.323-.954,1.141v1.973h3.19l-.307,3.464H17.546V26.338H13.413v-10.3H11.264V12.526h2.149V9.763c0-2.592,1.387-3.946,4.462-3.946h2.861v3.6Z"/></svg>
      </a>

      <!-- Sharingbutton Twitter -->
      <a href="https://twitter.com/intent/tweet/?text={{encodeURI this.title}}&amp;url={{encodeURI this.full_url}}" target="_blank" rel="noopener" aria-label="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M16,0A16,16,0,1,0,32,16,16,16,0,0,0,16,0Zm8.046,13.243A10.555,10.555,0,0,1,7.81,22.614,7.464,7.464,0,0,0,13.3,21.078,3.713,3.713,0,0,1,9.838,18.5a3.7,3.7,0,0,0,1.675-.064,3.713,3.713,0,0,1-2.976-3.685,3.7,3.7,0,0,0,1.68.464A3.715,3.715,0,0,1,9.07,10.261a10.528,10.528,0,0,0,7.648,3.878,3.713,3.713,0,0,1,6.323-3.386,7.426,7.426,0,0,0,2.357-.9,3.712,3.712,0,0,1-1.632,2.053,7.364,7.364,0,0,0,2.133-.584A7.53,7.53,0,0,1,24.046,13.243Z"/></svg>
      </a>

      <!-- Sharingbutton LinkedIn -->
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeURI this.full_url}}&amp;title={{encodeURI this.title}}&amp;summary={{encodeURI this.title}}&amp;source={{encodeURI blogUrl}}" target="_blank" rel="noopener" aria-label="">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><style>.a{fill:#fff;}</style><path class="a" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/></svg>
      </a>
    </div>
    <a href="{{this.url}}"><img  class="post_thumbnail"  src="{{this.metadata.header_image_url}}" alt=""></a>
    <div class="post-box__content p-3">
        <div class="post-box__content-header">
          <div class="duration-and-location text-muted mb-2 d-flex justify-content-between">
            <span class="duration" datetime="{{this.published_at}}"> {{this.published_at_str}}</span>
            {{#if this.reading_time}}
                <span class="read">{{this.reading_time}}</span>
            {{/if}}
          </div>
          <a href="{{this.url}}" class="text-reset">
            <div class="h4">{{this.title}}</div>
          </a>
        </div>
        <div class="post-box__content-footer">
            {{# if this.series}}
            <a class="serie serie-solid my-2" href="{{this.series_url}}">
              Series: {{this.series}}
            </a>
            {{/if}}
            {{#each tags}}
              <a class="tag tag-solid my-2" href="{{this.url}}">
                {{this.key}}
              </a>
            {{/each}}
        </div>
    </div>
  </div>
</div>
