<div {{#if inline}}class="tag-list-inline"{{/if}}>
{{#if sidebarWidgetData.allTags}}
<div class="tag-list topics{{#if inline}} closed{{/if}}">
  <div class="tag-list-title title h5 mb-3 text-uppercase"><span>Topics</span> <div class="arrow"></div></div>
  <div class="tag-list-content">
    {{#each sidebarWidgetData.allTags}}
      <a href="{{this.url}}" class="tag">
        {{this.key}} <span>({{this.doc_count}})</span>
      </a>
    {{/each}}
  </div>
</div>
{{/if}}
{{#if sidebarWidgetData.allSeries}}
<div class="tag-list series{{#if inline}} closed{{/if}}">
  <div class="tag-list-title title h5 mb-3 text-uppercase"><span>series</span> <div class="arrow"></div></div>
  <div class="tag-list-content">
    {{#each sidebarWidgetData.allSeries}}
      <a href="{{this.url}}" class="serie">
        {{this.key}} <span>({{this.doc_count}})</span>
      </a>
    {{/each}}
  </div>
</div>
{{/if}}
</div>

<script type="text/javascript">
 $(document).ready(function(){
    $(".tag-list .title").click(function(){
        $(this).parent().toggleClass("closed");
    });
 });
</script>
