<main class="content">
  <div class="container">
    <div class="pb-5">
      <h2>All Posts</h2>
    </div>
    <div class="row">
      {{#if posts.length}}
        {{#each posts}}
          {{> post this}}
        {{/each}}
      {{else}}
        {{> no-content}}
      {{/if}}
    </div>
    {{> sidebar inline=true}}
    <div class="btn-toolbar blog-pagination my-5 justify-content-center">
      {{#if prevPage}}<a class="btn btn-outline-secondary mr-2" href="{{blogRoutePrefix}}/page/{{prevPage}}">Previous page</a>{{/if}}
      <div class="input-group align-content-center">
        Page {{pageNum}} / {{totalPages}}
      </div>
      {{#if nextPage}}<a class="btn btn-outline-secondary ml-2" href="{{blogRoutePrefix}}/page/{{nextPage}}">Next page</a>{{/if}}
    </div>
  </div>
</main>
