<main class="content">
  <div class="container">
    <div class="pb-5">
      <h2><span class="text-muted">Posts tagged with: </span>{{tag}}</h2>
      {{#if tagDescription}}
        <p class="header-text">{{{tagDescription.content}}}</p>
      {{/if}}
    </div>
    <div class="row">
      {{#if posts.length}}
        {{#each posts}}
          {{> post this}}
        {{/each}}
      {{else}}
        {{> no-content}}
      {{/if}}
    </div>
    <div class="btn-toolbar blog-pagination mb-5 justify-content-center">
      {{#if prevPage}}<a class="btn btn-outline-secondary mr-2" href="{{blogRoutePrefix}}/tagged/{{tag}}/page/{{prevPage}}">Previous page</a>{{/if}}
      <div class="input-group align-content-center">
        Page {{pageNum}} / {{totalPages}}
      </div>
      {{#if nextPage}}<a class="btn btn-outline-secondary ml-2" href="{{blogRoutePrefix}}/tagged/{{tag}}/page/{{nextPage}}">Next page</a>{{/if}}
    </div>
  </div>
</main>
